@model IEnumerable<Planner.Models.Event>

<ul class="gigs">
    @foreach (var item in Model)
    {
        <li>
        
            <div class="date">
                <div class="month">
                    @item.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @item.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="artist" style="color: aliceblue">
                    @item.Name
                </span>
                <span class="genre" style="color: aliceblue">
                    @item.Category.Name
                </span>
                
            </div>
            <div>
                <img src=@Url.Content(item.Image.ImageUrl) height="150" width="150"/>
            </div>
            <button class="btn btn-primary btn-sm">Going?</button>
        </li>
    }
</ul>